kaggle-environments==1.7.11
google-colab==1.0.0
alabaster==1.0.0
jupyter-client==6.1.12
babel==2.16.0
pynvjitlink-cu12==0.4.0
pydantic==2.9.2
pylibraft-cu12==24.10.0
duckdb==1.1.3
yellowbrick==1.5
kagglehub==0.3.4
google-cloud-bigquery==3.25.0
imagesize==1.4.1
pymystem3==0.2.0
sentencepiece==0.2.0
py4j==0.10.9.7
webcolors==24.11.1
seaborn==0.13.2
pyspark==3.5.3
namex==0.0.8
lxml==5.3.0
vega-datasets==0.9.0
google-cloud-aiplatform==1.71.1
cycler==0.12.1
osqp==0.6.7.post3
google-auth-httplib2==0.2.0
sentry-sdk==2.18.0
types-pytz==2024.2.0.20241003
gcsfs==2024.10.0
jsonschema==4.23.0
tqdm==4.66.6
ratelim==0.1.6
wasabi==1.1.3
imageio==2.36.0
multitasking==0.0.11
cmdstanpy==1.2.4
sphinxcontrib-jsmath==1.0.1
datascience==0.17.6
pandas==2.2.2
joblib==1.4.2
nvidia-cublas-cu12==12.6.3.3
fastdownload==0.0.7
Sphinx==8.1.3
nvidia-cuda-nvcc-cu12==12.6.77
earthengine-api==1.2.0
ipykernel==5.5.6
python-slugify==8.0.4
cymem==2.0.8
xgboost==2.1.2
parso==0.8.4
docstring_parser==0.16
ibis-framework==9.2.0
moviepy==1.0.3
kaggle==1.6.17
importlib_metadata==8.5.0
google-cloud-firestore==2.19.0
tinycss2==1.4.0
simple-parsing==0.1.6
pygame==2.6.1
gdown==5.2.0
cons==0.4.6
imutils==0.5.4
requests==2.32.3
Bottleneck==1.4.2
gspread-dataframe==3.3.1
langsmith==0.1.143
Deprecated==1.2.15
psycopg2==2.9.10
click==8.1.7
networkx==3.4.2
openpyxl==3.1.5
mlxtend==0.23.3
logical-unification==0.4.6
matplotlib-venn==1.1.1
pyerfa==2.0.1.5
opencv-contrib-python==4.10.0.84
tensorboard==2.17.1
wheel==0.45.0
CacheControl==0.14.1
requests-toolbelt==1.0.0
confection==0.1.5
fastai==2.7.18
python-box==7.2.0
notebook==6.5.5
dopamine_rl==4.0.9
google-cloud-bigtable==2.27.0
snowballstemmer==2.2.0
easydict==1.13
altair==4.2.2
tzlocal==5.2
bleach==6.2.0
geographiclib==2.0
fsspec==2024.10.0
tensorflow==2.17.1
protobuf==4.25.5
pyparsing==3.2.0
nvidia-cusolver-cu12==11.7.1.2
blinker==1.9.0
optree==0.13.1
cvxopt==1.3.2
bokeh==3.6.1
huggingface-hub==0.26.2
jiter==0.7.1
sentence-transformers==3.2.1
music21==9.3.0
wandb==0.18.7
py-cpuinfo==9.0.0
flax==0.8.5
google-resumable-media==2.7.2
srsly==2.4.8
iniconfig==2.0.0
tabulate==0.9.0
traittypes==0.2.1
attrs==24.2.0
param==2.1.1
jupyter-console==6.1.0
dm-tree==0.1.8
widgetsnbextension==3.6.10
missingno==0.5.2
google-cloud-resource-manager==1.13.1
tf_keras==2.17.0
google-crc32c==1.6.0
nbclassic==1.1.0
bigframes==1.27.0
statsmodels==0.14.4
oauthlib==3.2.2
cloudpickle==3.1.0
pyasn1_modules==0.4.1
jupyter_core==5.7.2
albumentations==1.4.20
spacy-loggers==1.0.5
ecos==2.0.14
progressbar2==4.5.0
grpc-google-iam-v1==0.13.1
MarkupSafe==3.0.2
uc-micro-py==1.0.3
holidays==0.61
Flask==3.0.3
intel-cmplr-lib-ur==2025.0.0
torch==2.5.1+cu121
gym==0.25.2
matplotlib==3.8.0
geocoder==1.38.1
marisa-trie==1.2.1
locket==1.0.0
ipython-genutils==0.2.0
PyYAML==6.0.2
tensorflow-io-gcs-filesystem==0.37.1
lazy_loader==0.4
geopandas==1.0.1
et_xmlfile==2.0.0
matplotlib-inline==0.1.7
smart-open==7.0.5
transformers==4.46.2
docutils==0.21.2
StrEnum==0.4.15
pandas-stubs==2.2.2.240909
jupyter-server==1.24.0
typeguard==4.4.1
bqplot==0.12.43
mdurl==0.1.2
tbb==2022.0.0
python-louvain==0.16
xlrd==2.0.1
scikit-image==0.24.0
yarl==1.17.2
llvmlite==0.43.0
GDAL==3.6.4
regex==2024.9.11
google-cloud-bigquery-storage==2.27.0
google-cloud-pubsub==2.27.1
stanio==0.5.1
tornado==6.3.3
sklearn-pandas==2.2.0
Cython==3.0.11
sphinxcontrib-qthelp==2.0.0
gitdb==4.0.11
mpmath==1.3.0
contourpy==1.3.1
packaging==24.2
astropy-iers-data==0.2024.11.18.0.35.2
google-cloud-core==2.4.1
oauth2client==4.1.3
Werkzeug==3.1.3
etils==1.10.0
zipp==3.21.0
nvidia-cudnn-cu12==9.5.1.17
tokenizers==0.20.3
soxr==0.5.0.post1
opentelemetry-api==1.28.2
google-api-python-client==2.151.0
more-itertools==10.5.0
torchsummary==1.5.1
pandocfilters==1.5.1
lightgbm==4.5.0
gym-notices==0.0.8
charset-normalizer==3.4.0
nvidia-cuda-cupti-cu12==12.6.80
typing_extensions==4.12.2
PyDrive==1.3.1
preshed==3.0.9
pexpect==4.9.0
ipyleaflet==0.19.2
autograd==1.7.0
tweepy==4.14.0
scikit-learn==1.5.2
google-cloud-datastore==2.20.1
scipy==1.13.1
proto-plus==1.25.0
google-generativeai==0.8.3
fastrlock==0.8.2
terminado==0.18.1
linkify-it-py==2.0.3
google-cloud-bigquery-connection==1.16.1
PyOpenGL==3.1.7
fonttools==4.55.0
traitlets==5.7.1
frozenlist==1.5.0
urllib3==2.2.3
setproctitle==1.3.4
rpy2==3.4.2
folium==0.18.0
google-cloud-functions==1.18.1
grpcio-status==1.62.3
pytest==8.3.3
slicer==0.0.8
colorlover==0.3.0
orjson==3.10.11
wcwidth==0.2.13
jax-cuda12-plugin==0.4.33
googledrivedownloader==0.4
pyogrio==0.10.0
frozendict==2.4.6
spacy-legacy==3.0.12
librosa==0.10.2.post1
pydata-google-auth==1.8.2
chardet==5.2.0
tensorflow-probability==0.24.0
intel-openmp==2025.0.0
google-cloud-language==2.15.1
imageio-ffmpeg==0.5.1
fastprogress==1.0.3
aiosignal==1.3.1
en-core-web-sm==3.7.1
httpimport==1.4.0
einops==0.8.0
grpcio==1.68.0
libclang==18.1.1
referencing==0.35.1
tensorflow-hub==0.16.1
opentelemetry-sdk==1.28.2
community==1.0.0b1
ipytree==0.2.2
jsonschema-specifications==2024.10.1
pyzmq==24.0.1
jaxlib==0.4.33
pickleshare==0.7.5
soundfile==0.12.1
language_data==1.2.0
anyio==3.7.1
patsy==1.0.1
google==2.0.3
PySocks==1.7.1
psutil==5.9.5
inflect==7.4.0
pycparser==2.22
shap==0.46.0
jupyterlab_pygments==0.3.0
nbformat==5.10.4
six==1.16.0
nx-cugraph-cu12==24.10.0
notebook_shim==0.2.4
aiohappyeyeballs==2.4.3
toml==0.10.2
prettytable==3.12.0
geopy==2.4.1
googleapis-common-protos==1.66.0
prometheus_client==0.21.0
jsonpatch==1.33
propcache==0.2.0
google-auth==2.27.0
pyasn1==0.6.1
textblob==0.17.1
catalogue==2.0.10
plotnine==0.14.1
shapely==2.0.6
tables==3.10.1
SQLAlchemy==2.0.36
pyOpenSSL==24.2.1
sphinxcontrib-devhelp==2.0.0
imbalanced-learn==0.12.4
shellingham==1.5.4
spacy==3.7.5
tomli==2.1.0
peewee==3.17.8
geemap==0.35.1
nbconvert==7.16.4
tensorboard-data-server==0.7.2
firebase-admin==6.5.0
gin-config==0.5.0
jupyterlab_widgets==3.0.13
soupsieve==2.6
gast==0.6.0
opentelemetry-semantic-conventions==0.49b2
cvxpy==1.5.4
pygit2==1.16.0
smmap==5.0.1
PyDrive2==1.21.1
tensorflow-datasets==4.9.7
nvidia-cufft-cu12==11.3.0.4
itsdangerous==2.2.0
termcolor==2.5.0
mkl==2025.0.0
wordcloud==1.9.4
plotly==5.24.1
eval_type_backport==0.2.0
greenlet==3.1.1
umf==0.9.0
Markdown==3.7
nvidia-cuda-runtime-cu12==12.6.77
google-api-core==2.19.2
array_record==0.5.1
nvidia-curand-cu12==10.3.7.77
google-cloud-iam==2.16.1
argon2-cffi-bindings==21.2.0
kiwisolver==1.4.7
nvtx==0.2.10
timm==1.0.11
google-auth-oauthlib==1.2.1
stringzilla==3.10.10
tf-slim==1.1.0
jupyter-leaflet==0.19.2
absl-py==1.4.0
rpds-py==0.21.0
ipython-sql==0.5.0
toolz==0.12.1
thinc==8.2.5
mizani==0.13.0
nvidia-nvjitlink-cu12==12.6.77
google-pasta==0.2.0
aiohttp==3.11.2
astropy==6.1.6
cachetools==5.5.0
opt_einsum==3.4.0
rich==13.9.4
multidict==6.1.0
pylibcugraph-cu12==24.10.0
colour==0.1.5
multipledispatch==1.0.0
langcodes==3.4.1
pandas-datareader==0.10.0
clarabel==0.9.0
ipyparallel==8.8.0
websocket-client==1.8.0
sqlparse==0.5.2
fastcore==1.7.20
tcmlib==1.2.0
sphinxcontrib-serializinghtml==2.0.0
opencv-python-headless==4.10.0.84
nibabel==5.3.2
idna==3.10
murmurhash==1.0.10
httpcore==1.0.7
pyviz_comms==3.0.3
pandas-gbq==0.24.0
mdit-py-plugins==0.4.2
nvidia-cusparse-cu12==12.5.4.2
markdown-it-py==3.0.0
dlib==19.24.2
astunparse==1.6.3
sphinxcontrib-htmlhelp==2.1.0
audioread==3.0.1
jieba==0.42.1
entrypoints==0.4
argon2-cffi==23.1.0
rsa==4.9
scooby==0.10.0
nvidia-nccl-cu12==2.23.4
cupy-cuda12x==12.2.0
proglog==0.1.10
pytz==2024.2
ipywidgets==7.7.1
pillow==11.0.0
requests-oauthlib==1.3.1
numexpr==2.10.1
eerepr==0.0.4
pooch==1.8.2
pydotplus==2.0.2
pyarrow==17.0.0
natsort==8.4.0
promise==2.3
html5lib==1.1
tenacity==9.0.0
atpublic==4.1.0
xarray==2024.10.0
uritemplate==4.1.1
tifffile==2024.9.20
prompt_toolkit==3.0.48
GitPython==3.1.43
yfinance==0.2.49
langchain-text-splitters==0.3.2
pluggy==1.5.0
nest-asyncio==1.6.0
fastjsonschema==2.20.0
nbclient==0.10.0
pyperclip==1.9.0
jellyfish==1.1.0
jsonpickle==4.0.0
chex==0.1.87
holoviews==1.20.0
branca==0.8.0
imgaug==0.4.0
pydantic_core==2.23.4
panel==1.5.4
pylibcudf-cu12==24.10.1
cuda-python==12.2.1
partd==1.4.2
future==1.0.0
sniffio==1.3.1
flatbuffers==24.3.25
pyarrow-hotfix==0.6
diffusers==0.31.0
weasel==0.4.1
beautifulsoup4==4.12.3
wrapt==1.16.0
cffi==1.17.1
torchaudio==2.5.1+cu121
opencv-python==4.10.0.84
keras==3.5.0
ml-dtypes==0.4.1
Jinja2==3.1.4
arviz==0.20.0
threadpoolctl==3.5.0
text-unidecode==1.3
xarray-einstats==0.8.0
pyshp==2.3.1
ipyevents==2.0.2
sympy==1.13.1
peft==0.13.2
msgpack==1.1.0
gensim==4.3.3
gspread==6.0.2
qdldl==0.1.7.post4
backcall==0.2.0
h5py==3.12.1
google-cloud-translate==3.17.0
immutabledict==4.2.1
bigquery-magics==0.4.0
jax-cuda12-pjrt==0.4.33
pymc==5.18.2
pycocotools==2.0.8
python-dateutil==2.8.2
h11==0.14.0
tensorstore==0.1.68
jax==0.4.33
hyperopt==0.2.7
pyproj==3.7.0
portpicker==1.5.2
ipython==7.34.0
ptyprocess==0.7.0
google-ai-generativelanguage==0.6.10
cryptography==43.0.3
pydot==3.0.2
safetensors==0.4.5
Send2Trash==1.8.3
typer==0.13.0
webencodings==0.5.1
numpy==1.26.4
albucore==0.0.19
cloudpathlib==0.20.0
cufflinks==0.17.3
editdistance==0.8.1
blosc2==2.7.1
tensorflow-metadata==1.13.1
humanize==4.11.0
optax==0.2.4
python-utils==3.9.0
nltk==3.9.1
annotated-types==0.7.0
accelerate==1.1.1
debugpy==1.8.0
pytensor==2.26.3
mistune==3.0.2
certifi==2024.8.30
torchvision==0.20.1+cu121
httplib2==0.22.0
xyzservices==2024.9.0
etuples==0.3.9
docker-pycreds==0.4.0
h5netcdf==1.4.1
langchain==0.3.7
libcudf-cu12==24.10.1
ndindex==1.9.2
orbax-checkpoint==0.6.4
dask==2024.10.0
jsonpointer==3.0.0
httpx==0.27.2
sqlglot==25.1.0
platformdirs==4.3.6
scs==3.2.7
polars==1.9.0
parsy==2.1
openai==1.54.4
glob2==0.7
cudf-cu12==24.10.1
db-dtypes==1.3.1
miniKanren==1.0.3
Pygments==2.18.0
async-timeout==4.0.3
exceptiongroup==1.2.2
langchain-core==0.3.19
pathlib==1.0.1
prophet==1.1.6
blis==0.7.11
cmake==3.30.5
decorator==4.4.2
PyJWT==2.10.0
defusedxml==0.7.1
graphviz==0.20.3
sphinxcontrib-applehelp==2.0.0
importlib_resources==6.4.5
distro==1.9.0
rmm-cu12==24.10.0
numba==0.60.0
filelock==3.16.1
tzdata==2024.2
ipyfilechooser==0.6.0
google-cloud-storage==2.8.0
colorcet==3.1.0
python-apt==0.0.0
types-setuptools==75.5.0.20241122
setuptools==75.1.0
pip==24.1.2
requirements-parser==0.9.0
wadllib==1.3.6
launchpadlib==1.10.16
oauthlib==3.2.0
zipp==1.0.0
httplib2==0.20.2
more-itertools==8.10.0
python-apt==2.4.0+ubuntu4
PyJWT==2.3.0
importlib-metadata==4.6.4
jeepney==0.7.1
keyring==23.5.0
lazr.restfulclient==0.14.4
distro==1.7.0
SecretStorage==3.3.1
lazr.uri==1.0.6
PyGObject==3.42.1
pyparsing==2.4.7
dbus-python==1.2.18
cryptography==3.4.8
blinker==1.4
six==1.16.0
