kaggle-environments==1.7.11
kagglehub==0.3.4
tqdm==4.66.6
imageio==2.36.0
pandas==2.2.2
joblib==1.4.2
nvidia-cublas-cu12==12.6.3.3
nvidia-cuda-nvcc-cu12==12.6.77
ipykernel==5.5.6
kaggle==1.6.17
requests==2.32.3
tensorflow==2.17.1
protobuf==4.25.5
pyparsing==3.2.0
nvidia-cusolver-cu12==11.7.1.2
wandb==0.18.7
jupyter-console==6.1.0
dm-tree==0.1.8
widgetsnbextension==3.6.10
tf_keras==2.17.0
jupyter_core==5.7.2
albumentations==1.4.20Flask==3.0.3
intel-cmplr-lib-ur==2025.0.0
torch==2.5.1+cu121
gym==0.25.2
matplotlib==3.8.0
geocoder==1.38.1
ipython-genutils==0.2.0
PyYAML==6.0.2
tensorflow-io-gcs-filesystem==0.37.1
matplotlib-inline==0.1.7
jupyter-server==1.24.0
scikit-image==0.24.0
yarl==1.17.2
llvmlite==0.43.0
GDAL==3.6.4
regex==2024.9.11
sklearn-pandas==2.2.0
Cython==3.0.11
gitdb==4.0.11
packaging==24.2
zipp==3.21.0
nvidia-cudnn-cu12==9.5.1.17
nvidia-cuda-cupti-cu12==12.6.80
scikit-learn==1.5.2
scipy==1.13.1
einops==0.8.0
six==1.16.0
jupyterlab_widgets==3.0.13
nvidia-cufft-cu12==11.3.0.4
nvidia-cuda-runtime-cu12==12.6.77
nvidia-curand-cu12==10.3.7.77
timm==1.0.11
nvidia-nvjitlink-cu12==12.6.77
nvidia-cusparse-cu12==12.5.4.2
cupy-cuda12x==12.2.0
pillow==11.0.0
cuda-python==12.2.1
torchaudio==2.5.1+cu121
h5py==3.12.1
hyperopt==0.2.7
numpy==1.26.4
torchvision==0.20.1+cu121
glob2==0.7
pathlib==1.0.1
cmake==3.30.5
numba==0.60.0
pip==24.1.2
blinker==1.4
six==1.16.0
